# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# QtCreator project files
cadmium.config
cadmium.creator
cadmium.creator.user
cadmium.files
cadmium.includes

#idea
.idea

#Xcode project files
Cadmium.xcodeproj

#Cmake
cmake-build-debug
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
cmake_install.cmake
CMakeScripts
Makefile

# Build files
build
Debug
test_executable*
*_example
Testing
Cadmium.build
coverage.info
