# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# QtCreator project files
cadmium.config
cadmium.creator
cadmium.creator.user
cadmium.files
cadmium.includes

#idea
.idea

#Cmake
cmake-build-debug
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
Testing/
clock_example
cmake_install.cmake
test_executable

# Build files
build
