language: cpp
sudo: required
os: osx
osx_image: xcode8
compiler: 
  - clang
before_install:
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then rvm get stable || true; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update || true; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install cmake || brew upgrade cmake || true; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install boost-build || brew upgrade cmake || true; fi
script:
  - cmake -G "Unix Makefiles" . && make && make test  
